# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAnAcg0vLvh8Ea6zlsDSX1BLkmBes0LwYc
VITE_FIREBASE_AUTH_DOMAIN=nguyen-superbowl-squares.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nguyen-superbowl-squares
VITE_FIREBASE_STORAGE_BUCKET=nguyen-superbowl-squares.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=417650924563
VITE_FIREBASE_APP_ID=1:417650924563:web:4f99095970606abd4673e6

# Stripe Configuration
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51T7zOQGUEHtrYRErjTCXvW8bF1wvtGT6trPhzFvIWI5pb0tecRt6CqJnWXIfZGvCnyn1nD01Xxq92RE0fzKgey1q00PBDCt9b6
STRIPE_SECRET_KEY=mk_1T7zOWGUEHtrYRErnVQlMnpa
